.todo{
    display: flexbox;
    text-align: center;
    margin: 15px;
    padding: 12px;
    height: 250px;
    width: 500px;
    border: 2px solid black;
}
#head{
    text-align: center;
}
#button{
    border-radius: 5px;
    padding: 8px;
    margin: 10px;
    border: none;
    width: 65px;
    background: green;
}
#text{
    padding: 8px;
    margin: 10px;
}